body {
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
    background: #eee;
    margin: 0;
}

h1 {
    font-size: 40px;
    background-color: #fff;
    padding: 30px 15px;
    margin-top: 0;
}

h2 {
    font-size: 36px;
    background-color: #fff;
    padding: 15px;
}

h3 {
    font-size: 30px;
    background-color: #fff;
    padding: 15px;
}

.content_wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: inline-block;
    text-align: left;
}

p,
ol {
    margin: 0;
    padding: 5px 0;
}

ol {
    display: inline-block;
    margin: 0 0 0 53px;
}

img {
    margin: 10px 0;
    max-width: 100%;
}